<%- include('partials/header2') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Blog</h1>
    <i class="fas fa-book-open fa-4x text-info"></i>
    <p class="lead">Don’t focus on having a great blog. Focus on producing a blog that’s great for your readers!</p>
    <p class="lead">Successful blogging is not about one time hits. It’s about building a loyal following over time.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer2') %>